# Dependencies
node_modules/
.pnp
.pnp.js
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Testing
coverage/

# Production
build/
dist/

# Env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Misc
.DS_Store
*.pem

# IDE
.vscode/
.idea/
*.swp
*.swo
